body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f3ff;
}
p {
  margin: 0;
  font-size: 12px;
}
a {
  text-decoration: none;
}
.my-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  width: 400px;
  position: static;
  flex: block;
  margin: 0 auto;
  border: none;
}
.city-name {
  color: #ff63b5;
  font-size: 40px;
}
.today-background {
  background-color: #ffbbbb;
  border-radius: 0.5rem;
  flex: block;
  margin: 0 auto;
  width: 350px;
}
.degree-background {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  flex: block;
  margin: 0 auto;
  width: 300px;
}
.forecast {
  flex: block;
  margin: 0 auto;
  width: 350px;
}
.forecast-each-day {
  background-color: #5f4444;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 0;
  margin-bottom: 10px;
  transition: all 0.75s ease-out;
}
.forecast-each-day:hover {
  background-color: #393737;
  width: 82px;
  height: 82px;
  margin-bottom: 0;
}
.color-min {
  opacity: 80%;
}
.degree-number {
  font-size: 40px;
  font-weight: 800;
}
.enter-city {
  border-radius: 0.25rem;
  border: 1px solid grey;
  background: rgba(255, 255, 255, 0.7);
}
.form-text {
  font-size: 12px;
}
.description {
  text-transform: capitalize;
}
.btn-city {
  background-color: #af3264;
  color: #ffffff;
}
.btn-city:hover {
  color: #ffffff;
  background-color: #7e2247;
}
