body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f3ff;
}
p {
  margin: 0;
  font-size: 12px;
}
a {
  text-decoration: none;
}
.my-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  width: 400px;
  position: static;
  flex: block;
  margin: 0 auto;
  border: none;
}
.city-name {
  color: #f6378f;
  font-size: 40px;
}
.today-background {
  width: 350px;
  border-radius: 0.5rem;
  flex: block;
  margin: 0 auto;
  background-color: #f5efe8;
}
.degree-background {
  background-color: rgba(255, 255, 255, 0.9);
  width: 300px;
  border-radius: 0.5rem;
  flex: block;
  margin: 0 auto;
}
.forecast-background {
  color: #ffffff;
  background-color: #f6378f;
  font-size: 12px;
}
.number-color {
  color: #ffdd00;
}
.degree-unit {
  font-size: 20px;
}
.degree-number {
  font-size: 40px;
  font-weight: 800;
}
.enter-city {
  border-radius: 0.25rem;
  border: 1px solid grey;
  background: rgba(255, 255, 255, 0.7);
}
.form-text {
  font-size: 12px;
}
.description {
  text-transform: capitalize;
}
.active {
  color: black;
  cursor: default;
}

.active:hover {
  cursor: default;
  text-decoration: none;
  color: black;
}
